h2.mat-mdc-dialog-title {
  color: brown;
}

.yes-button {
  background-color: #C4100E !important;
  color: #ffffff !important;
}

.no-button {
  background-color: #dee2e6 !important;
  color: #000000 !important;
}
