.table-container {
  max-height: 60vh;     /* ou 400px, 500px, etc. */
  overflow-y: auto;
}

tr[mat-header-row] {
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
}

.edit-button mat-icon {
  color: #1C8CE7;
}

.delete-button mat-icon {
  color: #C4100E;
}

.mat-column-category {
  max-width: 80px;
  // background-color: antiquewhite;
}

.category-content  {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.mat-column-actions {
  text-align: center;
  max-width: 50px;
  // background-color: aqua;
}
