mat-card {
  max-width: 1024px;
  margin: 2em auto;  /* auto horizontally centers */
}

.courses-toolbar {
  background-color: #000000;
  color: #ffffff;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.15);
  padding: 25px;
}
