.full-width {
  width: 100%;
  min-width: 230px;
}

.center-actions {
   display: flex;
  justify-content: center;
  gap: 12px;
}

.save-button {
  background-color: #1C8CE7 !important;
  color: #ffffff !important;
}

.cancel-button {
  background-color: #dee2e6 !important;
  color: #000000 !important;
}
