<mat-card appearance="outlined">
  <mat-card-content>

    <mat-toolbar class="courses-toolbar">
      <span>Available Courses</span>
    </mat-toolbar>

    <app-course-list
      *ngIf="courses$ | async as coursesList; else loading"
      [courses] = "coursesList"
      (add) = "onAdd()"
      (edit)="onEdit($event)"
    ></app-course-list>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

  </mat-card-content>
</mat-card>
